altgraph==0.17.4 ; python_full_version == "3.11.2"
macholib==1.16.3 ; sys_platform == "darwin" and python_full_version == "3.11.2"
packaging==23.2 ; python_full_version == "3.11.2"
pefile==2023.2.7 ; sys_platform == "win32" and python_full_version == "3.11.2"
pyinstaller-hooks-contrib==2023.10 ; python_full_version == "3.11.2"
pyinstaller==6.1.0 ; python_full_version == "3.11.2"
python-dotenv==1.0.0 ; python_full_version == "3.11.2"
pywin32-ctypes==0.2.2 ; sys_platform == "win32" and python_full_version == "3.11.2"
send2trash==1.8.2 ; python_full_version == "3.11.2"
setuptools==68.2.2 ; python_full_version == "3.11.2"
watchdog==3.0.0 ; python_full_version == "3.11.2"
